/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* 
.thumbnail-container {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 200px;
  min-width: 1000px;
  border: solid greenyellow 5px;
  overflow: scroll;
  img {
    border: 5px orange solid;
  }
}

.fullscreen-div {
  z-index: 1;
  margin: 0;
  height: 99vw;
  width: 98vw;
}

.fullscreen-div img {
  object-fit: contain;
  max-height: 99vw;
  max-width: 98vw;
} */
