:root {
  margin: 0;
  height: 99vh;
  width: 98vw;
  color: rgb(24, 52, 80);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(24, 52, 80);
}

.body {
  display: grid;
  grid-template-columns: 3fr 3fr 8fr 1fr;
  grid-template-rows: 3vh 18vh 60vh 18vh 1vh;
  background-color: rgb(20, 24, 36);
}

header {
  text-align: center;
  z-index: 1;
  background-color: rgba(240, 248, 255, 0.6);
  margin: 8px 0 0 8px;
  border-radius: 8px;
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.search-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 8px;
}

label {
  display: none;
}

.search-bar {
  background-color: rgba(240, 248, 255, 0.2);
  padding: 4px;
  border: 2px solid rgba(73, 126, 161, 0.9);
  border-radius: 4px;
}

.search-bar::placeholder {
  font-weight: bold;
  color: rgba(20, 24, 36, 0.7);
}

.reset-button {
  margin: auto;
  background-color: rgba(240, 248, 255, 0.85);
  padding: 4px;
  border: 2px solid rgba(73, 126, 161, 0.9);
  border-radius: 4px;
  font-weight: 600;
}

h1 {
  font-size: 1.4rem;
  font-weight: 700;
}

.thumbnail-container {
  grid-column: 1/-1;
  grid-row: 4/5;
  margin: 0 32px 0 32px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  /* object-fit: contain; */
  background-color: rgba(255, 255, 255, 0.2);
  padding: 4px;
  border-radius: 4px;
  overflow: auto;
  /* scroll-snap-type: mandatory x; */
  scrollbar-color: rgba(255, 255, 255, 0.99) rgba(255, 255, 255, 0.2);
  /* scrollbar-width: thin; */
}

.thumbnail-image {
  aspect-ratio: initial;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 4px;
}

.thumbnail-image:hover,
.thumbnail-image:active {
  box-shadow: 0 0 5px 5px rgba(113, 192, 245, 0.7);
}

.fullscreen-div {
  padding-top: 8px;
  background-color: rgb(18, 22, 26);
  grid-column: 1/-1;
  grid-row: 1/-1;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.fullscreen-div image {
  margin: auto;
  align-self: center;
}

@media (height < 700px) {
  header {
    grid-column: 1/2;
    grid-row: 1/2;
    min-height: 140px;
  }
}

@media (width < 900px) {
  .fullscreen-div img {
    padding-bottom: 8vw;
  }
}

@media (width < 700px) {
  .body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60vh 20vh 20vh;
    overflow: none;
  }

  .fullscreen-div {
    margin: auto;
    object-fit: contain;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: flex-start;
    max-width: 99vw;
  }

  .fullscreen-div img {
    max-width: 99vw;
    margin: auto;
    margin-bottom: 45vh;
  }

  header {
    grid-column: 1/-1;
    grid-row: 3/4;
    margin: 0;
    font-size: 1.2rem;
    background-color: rgba(221, 239, 255, 0.8);
  }

  h1 {
    font-size: 1rem;
  }

  .search-div {
    gap: 4px;
  }

  .search-bar {
    background-color: aliceblue;
  }

  .thumbnail-container {
    grid-column: 1/-1;
    grid-row: 2/3;
    /* width: calc(100vw - 24px); */
    margin: 0;
  }

  .thumbnail-container::-webkit-scrollbar {
    display: none;
  }
}

@media (orientation: landscape) and (width < 1000px) {
  .body {
    display: grid;
    grid-template-columns: 70vw 30vw;
    grid-template-rows: 44vh 36vh 20vh;
    overflow: none;
  }

  .fullscreen-div {
    object-fit: scale-down;
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-content: flex-start;
    overflow: none;
  }

  .fullscreen-div img {
    max-height: 90vh;
    margin: auto;
    /* margin-top: 0; */
    display: block;
    /* overflow: none; */
  }

  header {
    grid-column: 2/-1;
    grid-row: 1/2;
    /* margin: -8px -8px 0 0; */
    border-radius: 12px;
    background-color: rgba(221, 239, 255, 0.8);
    overflow: none;
  }

  .search-bar {
    background-color: aliceblue;
  }

  .thumbnail-container {
    grid-column: 1/-1;
    grid-row: 3/4;
    margin: 0;
  }

  .thumbnail-container::-webkit-scrollbar {
    display: none;
  }
}
