@import "tailwindcss";

:root {
  margin: 0;
  height: 99vh;
  width: 98vw;
}

.body {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 5vh 15vh 79vh;
}

.thumbnail-container {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 20vh;

  overflow: scroll;
  img {
    border: 5px orange solid;
  }
}

.fullscreen-div {
  z-index: 1;
  margin: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.fullscreen-div img {
  max-height: 98vh;
  max-width: 98vw;
}
