@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  margin: 0;
  height: 99vh;
  width: 98vw;
}

.body {
  display: grid;
  grid-template-columns: 5fr 1fr 8fr 1fr;
  grid-template-rows: 3vh 18vh 79vh;
}

header {
  text-align: center;
  z-index: 1;
  background-color: rgba(240, 248, 255, 0.6);
  margin: 8px 0 0 8px;
  border-radius: 4px;
  grid-column: 1/2;
  grid-row: 1/3;
}

.search-div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#search-bar {
  margin: auto;
  background-color: rgba(240, 248, 255, 0.85);
  padding: 4px;
  border-radius: 4px;
}

.search-button {
  margin: auto;
  background-color: rgba(240, 248, 255, 0.85);
  padding: 4px;
  border-radius: 4px;
}

h1 {
  font-size: 1.4rem;
  font-weight: 600;
}

.thumbnail-container {
  grid-column: 3/4;
  grid-row: 1/3;
  margin-top: 8px;
  z-index: 1;
  display: flex;
  /* object-fit: contain; */
  background-color: rgba(255, 255, 255, 0.2);
  padding: 4px;
  border-radius: 4px;
  overflow-x: scroll;
  /* scroll-snap-type: mandatory x; */
  scrollbar-color: rgba(255, 255, 255, 0.99) rgba(255, 255, 255, 0.2);
  scrollbar-width: thin;
}

.thumbnail-button {
  border: none;
  cursor: pointer;
  appearance: none;
  z-index: 1;
  height: 100%;
  width: 100px;
  aspect-ratio: initial;
  border: 2px solid rgba(0, 0, 0, 0);
}

.thumbnail-image {
  width: 100px;
}

.fullscreen-div {
  background-color: rgb(18, 22, 26);
  grid-column: 1/-1;
  grid-row: 1/-1;
  margin: 0;
  /* height: 100vh;
  width: 100vw; */
  object-fit: cover;
}

.fullscreen-div img {
  margin: auto;
  height: 98vh;
  width: auto;
}
